<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
    <node pkg="laserscan_stacker" type="laserscan_stacker" respawn="false" name="laserscan_stacker" output="screen">
        <rosparam file="$(find laserscan_stacker)/config/laserscan_stacker.yaml" command="load" />
    </node>
</launch>